[submodule "game-to-job-back"]
	path = game-to-job-back
	url = git@github.com:AshidaSRS/game-to-job-back.git
[submodule "game-to-job-web"]
	path = game-to-job-web
	url = git@github.com:AshidaSRS/game-to-job-web.git
